#background {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    margin: auto;
    filter: blur(5px); /*高斯模糊*/
    z-index: -1;
  }

  .outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .player-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 1024px;
    height: 70%;
    width: 25%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 30px #8BA989;
  }
  
  @media (max-width:992px) {
    .player-container {
      height: 100%;
      width: 100%;
    }
  }

  @media (max-width:767px) {
    .player-container {
      height: 100%;
      width: 100%;
    }
  }


  #thumbnail {
    position: absolute;
    object-fit: fill;
    height: 100%;
    width: 100%;
    top: -10%;
    transition: 1s;
    z-index: 3;
  }
  
  @media (max-width:992px) {
    #thumbnail {
      height: 80%;
      width: 80%;
      margin:10% auto;
      object-fit: contain;
    }
  }

  @media (max-width:767px) {
    #thumbnail {
      height: 90%;
      width: 90%;
      object-fit: contain;
    }
  }

.box {
  background:linear-gradient(90deg, #8BA989, #C0CFB2);
  position: absolute;
  margin: auto;
  width: 100%;
  height: 43%;
  z-index: 4;
  bottom: -10%;
}

@media (max-width:992px) {
  .box {
    height: 35%;
  }
}

@media (max-width:767px) {
  .box {
    height: 40%;
  }
}

.track-info {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width:767px) {
  .track-info {
    justify-content: start;
    align-items: start;
  }
}

#track-title  {
  color: #364F3C;
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1% auto 0;
  text-shadow: 0 0 15px white;
}

#track-artist {
  color: #364F3C;
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
}

@media (max-width:992px) {
  #track-title, #track-artist {
    margin: 1% 3%;
    font-size: 2rem;
  }
}

@media (max-width:767px) {
  #track-title, #track-artist {
    margin: 2% 3%;
    font-size: 1.5rem;
  }
}

.fa-heart,.fa-random {
  color: white;
  margin: 0;
  transition: all .4s ease;
  cursor: pointer;
}

@media (max-width:992px) {
  .fa-heart,.fa-random {
    font-size: 2rem;
  }
}

@media (max-width:767px) {
  .fa-heart,.fa-random {
    font-size: 1.5rem;
  }
}

.clicked {
  color: #49654D;
  transform: scale(1.2);
  transition: all .3s ease;
}

.play-pause {
    display: flex;
    margin: 3% auto;
    justify-content: space-evenly;
    align-items: center;
  }

  
  .fa-circle-pause {
    filter: invert(1);
    cursor: pointer;
    display: none;
  }

  #play,
  #prev-track,
  #next-track {
  filter: invert(1);
  cursor: pointer;
}

@media (max-width:992px) {
  #play,
  #prev-track,
  #next-track,
  #pause  {
    font-size: 3.5rem;
  }
}

@media (max-width:767px) {
  #play,
  #prev-track,
  #next-track,
  #pause  {
    font-size: 3rem;
  }
}

  .progress-bar {
    display: flex;
    margin: 2% auto;
    justify-content: center;
    align-items: center;
  }

  @media (max-width:767px) {
    .progress-bar {
      margin: 5% auto ;
    }
  }
  
  
  #progressBar {
    appearance: none;
    height: 5px;
    background: white;
    width: 60%;
    outline: none;
    border-radius: 30px;
  }
  
  @media (max-width:992px) {
    #progressBar {
      width: 75%;
      height: 10px;
    }
  }

  @media (max-width:767px) {
    #progressBar {
      width: 70%;
    }
  }

#progressBar::-webkit-slider-thumb {
    appearance: none;
    height: 11px;
    width: 11px;
    outline: none;
    background: #49654D;
    border-radius: 30px;
    cursor: pointer;
  }
  
  @media (max-width:992px) {
    #progressBar::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    }
  }

  #currentTime,#durationTime {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: #49654D;
    margin: auto 2%;
  }
  
  
  @media (max-width:992px) {
    #currentTime,
    #durationTime {
      font-size: 22px;
    }
  }

  @media (max-width:767px) {
    #currentTime,
    #durationTime {
      font-size: 16px;
    }
  }